<!DOCTYPE HTML>
<html lang="fr">

<head>
    <meta chatset="" utf-8>
    <title>Sign_in_page</title>
</head>

<body>
    <h1>Connectez-vous</h1>
    <form id="signin" action="/login" method="post">
        <div>
            <label for="email">Entrez votre mail</label>
            <input type="email" name="spectre_mail" required>
        </div>
        <div>
            <label for="password">Entrez votre mot de passe</label>
            <input type="password" name="spectre_password" required>
        </div>
        <div>
            <button type="submit">Connexion</button>
        </div>
    </form>
    <div>
        <a href="sign_up">Créez un compte</a>
    </div>
    <div>
        <a href="alter_password">Mot de passe oublié</a>
    </div>


</body>

</html>