<!DOCTYPE HTML>
<html lang="fr">

<head>
    <meta chatset="" utf-8>
    <title>Sign_up_page</title>
</head>

<body>
    <h1>Entrez vos identifiants</h1>
    <form id="signup" action="/create_account" method="post">
        <div>
            <label for="email">Entrez votre mail</label>
            <input type="email" name="spectre_mail" required>
        </div>
        <div>
            <label for="password">Entrez votre mot de passe</label>
            <input type="password" name="spectre_password" required>
        </div>
        <div>
            <label for="password">Confirmer votre mot de passe</label>
            <input type="password" name="spectre_confirm_password" required>
        </div>
        <div>
            <button type="submit" id="btn1">Créez votre compte</button>
        </div>
    </form>
    <div>
        <a href="sign_in">Créez un compte</a>
    </div>

</body>

</html>